{{ define "main" }}
  {{- $files := readDir "/static/images" -}}

  <script>
    var position = 10
    var images = []
    {{- range $files }}
      images.push("/images{{ .Name | relURL }}")
    {{- end}}
  </script>

  <header>
    <h1>{{ .Title }}</h1>
  </header>

  <div class="wrapper">
    {{ .Content }}

    <section id="gallery">
      {{- range first 10 $files }}
      <figure>
        <img src="/images{{ .Name | relURL }}" />
      </figure>
      {{- end}}
    </table>
  </div>

  <script src="/scripts/main.js"></script>

{{ end }}